h1 {
    border-color: black;
    border-style: solid;
}

h2 {
    border-color: blue;
    border-style: solid;
    padding-left: 100px;
    padding-top:100px;
    margin-bottom: 70px;
}
h3 {
    border-color: black;
    border-style: solid;
}